# Rust
/target/
**/*.rs.bk
Cargo.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
references/
pip-log.txt
pip-delete-this-directory.txt

# Logs
*.log

# Database
*.sqlite3
*.db

# Docker
*.dockerignore

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python microservices specific
*.egg-info/
dist/
build/

# Others
*.swp
*.swo
*.bak
*.tmp
*.temp
*.orig
*.rej
*.sublime-workspace
*.sublime-project
